@{
    ViewBag.Title = "Home Page";
}

<h1 style="text-align: center;color: #de960f" id="mainContent_text">Welcome to MarCom</h1>
<summary style="text-align: center;color: #de960f">The community for everyone</summary>
<blockquote class="blockquote" id="mainContent_text">
    <p class="mb-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
        Sed rhoncus tortor ante, a luctus sapien tempor eu. In gravida neque et nisi porttitor consectetur.
    </p>
    <footer id="mainContent_text" class="blockquote-footer">Donald Trump <cite title="Source Title"><b>The Guardian</b></cite></footer>
</blockquote>
<br />

<div class="row">
    <div class="col-md-6">
        <p class="lead" id="mainContent_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p id="mainContent_text">
            Maecenas ut nibh sed nunc viverra congue vel eu felis.
            Donec leo justo, viverra non nunc sit amet, venenatis dapibus neque.
            Duis dapibus eget orci eget varius. Vestibulum at viverra lorem.
            Maecenas neque felis, tempor eget facilisis a, viverra nec neque. Aliquam dictum sapien et ligula pulvinar,
            at lobortis est cursus. Donec quis lectus sed tortor feugiat laoreet. Pellentesque condimentum velit ut elit sollicitudin porttitor.
            Nam blandit sodales eros. Sed rhoncus tortor ante, a luctus sapien tempor eu. In gravida neque et nisi porttitor consectetur.
            Nam ornare tristique ipsum eu sagittis. Morbi viverra vehicula est ut aliquet.
            <br /><br />

            Quisque vehicula nisi eu lectus efficitur sodales. Aliquam dui nunc, sagittis at auctor ut, auctor nec odio.
            Nam a elit diam. Nunc eget nisl dapibus, tristique tortor eget, cursus velit. Nam rutrum nec dolor vitae vulputate.
            Vivamus odio tellus, egestas ac pretium a, vulputate eget turpis. Nunc iaculis vehicula lorem, in viverra sem hendrerit ut.
            Fusce eu porttitor tellus, quis fringilla tortor.
        </p>
        <br />

    </div>

    <div class="col-md-6">
        <p class="lead" id="mainContent_text">Lor2 ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p id="mainContent_text">
            Maecenas ut nibh sed nunc viverra congue vel eu felis.
            Donec leo justo, viverra non nunc sit amet, venenatis dapibus neque.
            Duis dapibus eget orci eget varius. Vestibulum at viverra lorem.
            Maecenas neque felis, tempor eget facilisis a, viverra nec neque. Aliquam dictum sapien et ligula pulvinar,
            at lobortis est cursus. Donec quis lectus sed tortor feugiat laoreet. Pellentesque condimentum velit ut elit sollicitudin porttitor.
            Nam blandit sodales eros. Sed rhoncus tortor ante, a luctus sapien tempor eu. In gravida neque et nisi porttitor consectetur.
            Nam ornare tristique ipsum eu sagittis. Morbi viverra vehicula est ut aliquet.
            <br /><br />

            Quisque vehicula nisi eu lectus efficitur sodales. Aliquam dui nunc, sagittis at auctor ut, auctor nec odio.
            Nam a elit diam. Nunc eget nisl dapibus, tristique tortor eget, cursus velit. Nam rutrum nec dolor vitae vulputate.
            Vivamus odio tellus, egestas ac pretium a, vulputate eget turpis. Nunc iaculis vehicula lorem, in viverra sem hendrerit ut.
            Fusce eu porttitor tellus, quis fringilla tortor.
        </p>
        <br />
    </div>
</div>