@import url(https://fonts.googleapis.com/css?family=Questrial);

body {
    background-image: url('../images/62728388.jpg');
    font-family: 'Questrial', sans-serif;
    color: #FFF;
}

a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #FFF;
}

a {
    color: chartreuse;
    text-decoration: none;
    background-color: transparent;
}

    a:visited {
        text-decoration: none;
    }

.navbar {
    background: rgba(0,0,0,0.98);
}

.navbar, .dropdown-menu {
    /*background: rgba(255,255,255,0.25);*/
    border: none;
    background: rgba(0,0,0,0.98);
}

    .nav > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a, .dropdown-menu > li {
        border-bottom: 0px solid transparent;
        padding-left: 20px;
    }

        .nav > li > a:focus, .nav > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
            border-bottom: 0px solid transparent;
            background: dimgrey;
        }

        .navbar a, .dropdown-menu > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .navbar-toggle {
            color: #fff;
        }

.dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-toggle .icon-bar {
    color: #fff;
    background: #fff;
}


.navbar-login {
    width: 170px;
    padding: 10px;
    padding-bottom: 0px;
}

a:hover {
    background-color: dimgrey;
}

.navbar-login-session {
    /*padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;*/
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

.icon-size {
    font-size: 87px;
}

#username_text {
    color: chartreuse;
}

#logout_li {
    border-bottom: 0px;
}

#profile_li {
    border-bottom: 0px;
    padding-right: 20px;
}

#username_divider {
    border-bottom: 0px;
}

#profile_btn {
    display: block;
    /*width: 130px;*/
    margin: auto;
    /*float: right;*/
}

#logout_btn {
    margin: auto;
}

#settings_btn {
    display: block;
    /*width: 130px;*/
    margin: auto;
    float: right;
    text-align: right;
    /*font-family: 'Questrial', sans-serif;*/
}

    #settings_btn .a:hover {
        background-color: dimgrey;
        text-decoration: none;
        color: chartreuse;
        /*font-family: 'Questrial', sans-serif;*/
    }

#nav_logo {
    color: chartreuse;
}



/*.navbar-fixed-top .navbar-collapse {
    max-height: 580px;
}*/

#user_icon {
    color: white;
    float: left;
}

#user_emailicon {
    color: white;
    float: left;
}

#mainContent {
    /*background-color: rgba(255,255,255,0.25);*/
    background-color: rgba(17, 17, 17,0.85);
    border: 1px solid rgba(127, 255, 0, 0.5);
    border-radius: 10px;
    margin-top: 70px;
    float: none;
}

#mainnav {
    margin-top: 20px;
    /*border: 1px solid chartreuse;
    border-radius: 10px;*/
}

#mainContent_text {
    color: #fff;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

#username_button_nav, a:hover > a {
    background: transparent;
    border: transparent;
    /*margin-top: 5px;
    position: absolute;
    z-index: 9;*/
    /*position: fixed;*/
    /*z-index: 9;
    float: left;*/
}

#user_dropdown {
    /*position: absolute;*/
    /*margin-top: 20px;*/
    border-radius: 10px;
    background-color: rgba(17, 17, 17,0.98);
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: rgba(17, 17, 17,0.98);
        /*border: 1px solid rgba(127, 255, 0, 0.5);*/
        border-radius: 5px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

@media (max-width: 767px) {
    #username_button_nav {
        /*position: absolute;*/
        /*float: none;*/
        /*width: auto;
        margin-top: 0;
        /*background-color: rgba(17, 17, 17,0.98);*/
        /*border: 1px solid rgba(127, 255, 0, 0.5);*/
        /*border-radius: 5px;
        -webkit-box-shadow: none;
        box-shadow: none;*/
    }
}

@media (max-width: 767px) {
    #nav_drop_1, #nav_drop_2 {
        position: absolute;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: rgba(0,0,0,0.98);
        /*border: 1px solid rgba(127, 255, 0, 0.5);*/
        border-radius: 5px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

#body_div {
}

#login_div {
}



.navbar-collapse in {
    max-height: 550px;
}







/*FOOTER*/

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.btn, .form-control {
    border-radius: 2px;
    box-shadow: none !important;
}

.footer1 a {
    color: chartreuse;
    text-decoration: none;
    background-color: transparent;
}

    .footer1 a:hover,
    .footer1 a:focus,
    .footer1 a:active {
        color: #FFF;
    }

.footer1 .footer {
    /*background-color: rgba(0, 0, 0, 0.3);*/
    padding: 35px 0;
    margin-top: 5em;
}

    .footer1 .footer .footer-desc p {
        color: #DDD;
        margin: 15px 0 8px;
    }

    .footer1 .footer .social {
        margin: 0 auto;
        display: table;
    }

        .footer1 .footer .social li {
            float: left;
        }

            .footer1 .footer .social li a {
                display: block;
                font-size: 1em;
                color: #DDD;
                width: 30px;
                height: 30px;
                line-height: 32px;
                text-align: center;
                background-color: #222728;
                border-radius: 2px;
                margin: 15px 4px;
            }

                .footer1 .footer .social li a:hover {
                    background-color: #3A4144;
                }

    .footer1 .footer .input-group {
        margin: 15px 0;
    }

    .footer1 .footer .form-control {
        border-radius: 2px 0 0 2px;
        background-color: #585C5D;
        border-color: #585C5D;
        color: #DDD;
        font-size: 15px;
    }

        .footer1 .footer .form-control:hover,
        .footer1 .footer .form-control:focus {
            border: 1px solid #222728;
            background-color: #222728;
        }

    .footer1 .footer .input-group-addon {
        border-radius: 0 2px 2px 0;
        background-color: #F7931D;
        color: #FFF;
        border-color: #F7931D;
        font-size: 15px;
    }

.footer1 .footer-bottom {
    background-color: #222728;
    padding: 15px 0;
    color: #DDD;
    font-size: 13px;
}

    .footer1 .footer-bottom ul li {
        display: inline-block;
    }

        .footer1 .footer-bottom ul li a {
            display: block;
            padding-left: 8px;
        }

            .footer1 .footer-bottom ul li a:after {
                content: "-";
                padding-left: 8px;
            }

        .footer1 .footer-bottom ul li:last-child a:after {
            content: "";
        }

@media (max-width: 550px) {
    .footer1 .footer-bottom .pull-left,
    .footer1 .footer-bottom .pull-right {
        float: none !important;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
}

#footer1_copyrightText {
    color: #DDD;
}









/*Live Chat*/

#plus_icon_chat {
    color: #fff;
    z-index: 16;
}

#plus_icon_hover, a {
    background-color: transparent;
    z-index: 16;
}

.panel {
    margin-bottom: 0px;
    z-index: 15;
    background-color: rgba(221, 221, 221, 0.6);
    border: none;
}

.panel-body {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 15;
}

.top-bar {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
    padding-right: 5px;
    z-index: 15;
}

.box-position {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 15;
}

#subscribe_btn {
    display: inline-block;
    text-align: center;
    margin-top: 2px;
}

#copyright_div {
    text-align: center;
}

@media (min-width: 992px) {
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}


/*UserName Nav Dropdown*/

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    overflow-y: initial;
}



#newsPic {
    display: inline-block;
}

#news_picture_div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar-nav {
    margin: 0 auto;
}




















/*Comment Section*/

#comment_div {
    background-color: rgba(127,255,0, 0.1);
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#comment_author_field {
    background-color: darkgray;
    border-color: darkgray;
}

#comment_disabled_textarea {
    background-color: darkgray;
    border-color: darkgray;
}

#comment_hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}

#comment_main_header {
    margin-top: 0px;
}

#comment_navigate_back_btn {
    padding-right: 5px;
    padding-bottom: 5px;
}

#news_post {
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
    margin-bottom: 15px;
}

#comment_text_textarea {
    box-shadow: 10px #333;
    width: inherit;
    vertical-align: middle;
    text-decoration: none;
    word-wrap: break-word;
    overflow: hidden !important;
    /* text-overflow: ellipsis; */
}

#comment_info_text {
    color: darkorange;
}

#news_text_area {
    overflow: hidden !important;
    /* text-overflow: ellipsis; */
    height: 64px;
}

#admin_details_div {
    margin-top: 10px;
}

#commentCounter_text {
}

#publishDate_text {
    color: #FFF;
}







#header_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header_logo_div {
}



/*Forum Section*/

#thread_disabled_textarea {
    background-color: darkgray;
    border-color: darkgray;
}

#thread_hr {
    display: block;
    height: 1px;
    border: 0;
    /*border-top: 1px solid black;*/
    margin: 1em 0;
    padding: 0;
    margin-top: 3px;
}

#thread_div {
    /*background-color: rgba(127,255,0, 0.1);
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;*/
}

#thread_main_header {
    margin-top: 0px;
}

#thread_header {
    background-color: darkslategrey;
    border: 1px solid black;
    border-radius: 5px;
}

#thread_div_threads {
    background-color: darkslategray;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
}

#forum_post_number {
    color: chartreuse;
}

#thread_posts_div {
    background-color: rgba(47, 79, 79, 0.3);
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
}

#thread_details_div {
    background-color: transparent;
}

#btn_del {
    color: red;
}

#btn_edit {
    color: darkorange;
}

a:hover#btn_edit {
    color: #FFF;
}

a:hover#btn_del {
    color: #FFF;
}