@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole


<h3>Delete A User from a Role</h3>

@using (Html.BeginForm("DeleteRoleFromUser", "Role"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Username : @Html.DropDownList("Users", (IEnumerable<SelectListItem>)ViewBag.Users, "Select Users...")
        Role Name: @Html.DropDownList("Roles", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select Roles...")

    </p>

    <input type="submit" value="Delete this user from Role" />
}
