@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Assign User to Role";
}
<h2>Assign user to role:</h2>

@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <p> Role:</p>
                @Html.DropDownList("Roles", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select Role ...", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <p> User:</p>
                @Html.DropDownList("Users", (IEnumerable<SelectListItem>)ViewBag.Users, "Select User ...", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <br />
                <input type="submit" value="Assign" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a style="margin-bottom:5px;" class="btn btn-primary" href="@Url.Action("Roles", "Admin")"><span class="fa fa-arrow-left"></span> Back to Admin Panel</a>
</div>
