@*@model IEnumerable<MarcusOneDbTest.Models.ApplicationUser>*@
@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Index";
}

<div class="col-centered">
    <div class="row">
        <div class="col-md-12">
            <h3>Admin Control Panel.</h3>
            <!-- Nav Here-->
            <div>
                <a style="background-color: chartreuse;color: black;" class="btn btn-group-xs" href="#">Users</a>
                <a class="btn btn-group-xs" href="@Url.Action("Roles", "Admin", new { id = UrlParameter.Optional })">Roles</a>
                <a class="btn btn-group-xs" href="#users">News Control</a>
                <a class="btn btn-group-xs" href="#users">Forum Control</a>
            </div>

            <h1>Users Control Panel</h1>
            <p>Users List etc goes here.</p>
            @if (ViewBag.AllUsersX != null)
            {
                foreach (var item in @ViewBag.AllUsersX)
                {
                    <text>- </text> @item.UserName
                    <br />
                }
            }
        </div>
    </div>
</div>