<div class="container-fluid col-centered">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <h1>
                    News Feed
                </h1>
                <div class="col-md-12 post">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>
                                <strong><a href="#" class="post-title">Dreamhack Winter 2016</a></strong>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 post-header-line">
                            <span class="glyphicon glyphicon-user"></span>by <a href="#">theadmin</a> | <span class="glyphicon glyphicon-calendar">
                            </span><a id="time_news" title="20:39:44 AM">Sept 16th, 2012 | </a><span class="glyphicon glyphicon-comment"></span><a href="#">
                                3 Comments
                            </a> | <i class="icon-share"></i><a href="#">39 Shares</a> | <span class="glyphicon glyphicon-tags">
                            </span>Tags : <a href="#"><span class="label label-info">random</span></a> <a href="#">
                                <span class="label label-info">meta</span>
                            </a> <a href="#">
                                <span class="label label-info">
                                    tags
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-pull-12">
                            <!--Admin Menu-->
                            <a id="admin_buttons_news" class="btn btn-xs btn-warning" href="#">Edit</a>
                            <a id="admin_buttons_news" class="btn btn-xs btn-danger" href="#">Remove</a>
                        </div>
                    </div>
                    <div class="row post-content">
                        <div class="col-md-3">
                            <a href="#">
                                <img width="260" height="140" src="http://www.dreamhack.se/dhs15/files/2015/04/DHOpen-SLASKLOGO-2015.png" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="col-md-9">
                            <p>
                                Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option.
                                Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari
                                conclusionemque, ad nobis propriae quaerendum sea.
                            </p>
                            <p>
                                <a class="btn btn-read-more" href="#">Read more</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    body {
        margin-top: 50px;
    }

    #admin_buttons_news {
        margin-top: 5px;
        margin-right: 5px;
        float: right;
    }

    #time_news {
        color: #FFF;
        text-decoration: none;
        background-color: transparent;
    }

    a:hover {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    .btn {
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
    }

    .btn-read-more {
        padding: 5px;
        text-align: center;
        border-radius: 0px;
        display: inline-block;
        border: 2px solid chartreuse;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        color: chartreuse;
    }

        .btn-read-more:hover {
            color: #393939;
            background: chartreuse;
        }

    .post {
        /*border-bottom: 1px solid #DDD;*/
    }

    .post-title {
        color: chartreuse;
    }

    .post .glyphicon {
        margin-right: 5px;
    }

    .post-header-line {
        border-top: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
        padding: 5px 0px 5px 15px;
        font-size: 12px;
    }

    .post-content {
        padding-bottom: 15px;
        padding-top: 15px;
    }
</style>